<div class="container">
  <div class="row text-center">
    
    <div class="card col-sm-6 offset-3"> <!-- offset-3 左に3カラム分の余白 -->
      <div class="card-header"><h4><%= @user.name %>さんのユーザ情報</h4>
      </div>
        <div class="card-body">
          <div class="card-text">
            <p><%= @user.email %></p>
        </div>
    

    </div> <!-- col  -->
    
    
    

  </div> <!-- /.row -->
</div> <!-- /.container -->